{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'issues-grid' %}
{% set pageTitle = 'issues.issue.entity_plural_label'|trans %}

{% block navButtons %}
    {% include 'OroImportExportBundle:ImportExport:buttons.html.twig' with {
    entity_class: entity_class,
    exportProcessor: 'issues',
    exportTemplateProcessor: 'issues',
    importProcessor: 'issues.add_or_replace_issue',
    importTitle: 'issues.import_title'|trans,
    dataGridName: gridName
    } %}

    <div class="btn-group">
        {{ UI.addButton({
            'path': path('issues.issue_create'),
            'entity_label': 'issues.issue.entity_label'|trans
        }) }}
    </div>
{% endblock %}

{% block content_datagrid %}
    {% if gridName is defined %}
        {% if gridScope is defined %}
            {% set gridName = oro_datagrid_build_fullname(gridName, gridScope) %}
        {% endif %}
        {% set renderParams = {
        'enableFullScreenLayout': true,
        'enableViews': true,
        'showViewsInNavbar': true,
        }
        |merge(renderParams|default({})) %}
        {{ dataGrid.renderGrid(gridName, params|default({}), renderParams) }}

        {# Only grids on index pages will be tagged #}
        <script type="text/javascript">
            require(['oronavigation/js/content/grid-builder'], function (GridTagBuilder) {
                GridTagBuilder.allowTracking({{ gridName|json_encode|raw }});
            });
        </script>
    {% endif %}
{% endblock %}